body {
    background: #e0e0e0; 
}

.links{
    font-size: 20px;
}

a:hover {
    color: black;
}

a {
    color:rgb(43, 93, 230);
}

#leftColumn{
    float: left;
    width: 10%
}

#mainPage{
    float: right;
    width: 90%;
}

#footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 200px;
    padding-top: 50px;
}

h1{
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
}

h2{
    text-transform: capitalize;
    font-size: 30px;
}

h3{
    font-size: 25px;
}

p{
    font-size: 20px;
}